html, body {
    height : 100%;
}
.header {
    background-color : #E6FFE6;
    padding-bottom : 15px;
}
.content {
    background-color : #FF9999;
    border : 0px;
    position : relative;
    height : 780px;
}
.entries {
    margin-left : 25px;
    margin-right: 25px;
}
li.entry {
    margin-bottom : 25px;
    padding-bottom : 190px;
    padding-top : 10px;
    padding-left : 10px;
    background-color: #66CCFF;
    width : 60%;
}
.sidebar {
    float : right;
    background-color : #66CCFF;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 10px;
    margin-right:15px;
    width : 37%;
    height : 710px;
}
footer {
    background-color : #66FF66;
    position : relative;
    width : 100%;
    height : 125px;
}
h4{
    font-family : Arial;
    padding-left : 10px;
    padding-top : 10px;
    font-weight : bold;
}