html, body {
    height : 100%;
}
body {
    overflow-x : hidden;
}
div {
    position : relative;
}
.header {
    padding-top : 20px;
    font-size : xx-large;
    position : relative;
    height : 75px;
    border-style : ridge;
    border-width : 5px;
    border-bottom : 0px;
}
.nav {
    padding-top : 20px;
    font-size : xx-large;
	min-height : 15%;
    position : relative;
    height : 75px;
    border-style : ridge;
    border-width : 5px;
}
.left {
    font-size : xx-large;
    float : left;
    width : 60%;
    margin-left : 0px;
    margin-right : 0px;
    border : 0px;
}
.section {
    float : left;
    font-size : xx-large;
    margin-left : 0%;
    width : 100%;
    position : relative;
    height : 190px;
    border-style : ridge;
    border-width : 5px;
    border-top : 0px;
    border-right : 0px;
    padding-top : 125px;
    padding-left : 10%;
    padding-right : 10%;
}
.article {
    float : left;
    border-top : 0px;
    font-size : xx-large;
    margin-left : 0%;
    width : 100%;
    position : relative;
    height : 190px;
    border-style : ridge;
    border-width : 5px;
    border-right : 0px;
    border-top : 0px;
    border-bottom : 0px;
    padding-top : 125px;
    padding-left : 10%;
    padding-right : 10%;
}
.aside {
    background-color : #FFFFFF;
    font-size : xx-large;
    position : relative;
    float : right;
    width : auto;
    padding-left : 10%;
    padding-right : 10%;
    height : 350px;
    border-style : ridge;
    border-width : 5px;
    border-top : 0px;
    border-bottom : 0px;
    padding-top : 285px;
}
.footer {
    font-size : xx-large;
    position : relative;
    border-style : ridge;
    border-width : 5px;
    display :inline-block;
    width : 99.4%;
    height : 78px;
    padding-top : 20px;
}
p {
    font-family : Arial;
    font-size : 150%;
}