body {
    margin : 0;
    display : block;
}
::-webkit-scrollbar {
    width : 10px;
}
::-webkit-scrollbar-track {
    background : #FFF; 
}
::-webkit-scrollbar-thumb {
    background : #FC7E10;
    border-radius : 5px;
}
.row-1.head {
background : url(/secondtask/css/assets/street-background.jpg);
background-size : 100% 100%;
    padding: 0;
}
.headerimg {
    display : block;
    margin : 0px auto -13px;
    padding-top : 20px;
}
.row-1.headerimg:hover {
    content : url(css/assets/dibz-logo_1.png);
}
.container.headerleft {
    box-sizing : border-box;
    display : inline-block;
    height : 100%;
    padding : 100px 0 100px 100px;
    width : 50%;
}
.img-responsive.headercontentleft {
    width : 100%;
}
.container.headerright {
    box-sizing : border-box;
    color : #FFF;
    float : right;
    height : 100%;
    padding : 100px 100px 100px 0;
    text-align : left;
    width : 50%;
}
h1 {
    font-family : "Raleway Regular";
    font-size : 40px;
    font-weight : 100;
    padding : 0;
    margin : 0;
}
b {
    font-family : "Raleway Bold", sans-serif;
}
.row-1 {
    padding-bottom : 100px;
    position : relative;
}
.headercontent {
    font-family : "Raleway Regular";
    font-size : 28px;
    font-weight : 300;
    line-height : 1.5;
    margin-top : 15px;
    color : #FFF;
    letter-spacing : 1px;
    line-height : 40px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    padding : 25px 0;
}
a {
    text-decoration : none;
}
.btn.btn-primary.btn-block {
    display : inline-block;
    text-align : center; 
    width : 250px;
    margin-right : 25px;
    padding-top : 22px;
    padding-bottom : 22px;
    font-size : 25px;
}
.btn.btn-primary.btn-block:hover {
    background-color : #FFF;
    border-color : #FFF;
    color : #F8A01E;
    text-decoration: none;
}
.btn.btn-primary.btn-block.downloadbtn {
    background-color : #F8A01E;
    border : 2px solid #F8A01E;
    border-radius : 10px;
    color : #FFF;
    font-family : "Raleway Regular";
}
.btn.btn-primary.btn-block.learnmorebtn {
    background-color : transparent;
    border : 2px solid #FFF;
    border-radius : 10px;
    color : #FFF;
    font-family : "Raleway Regular";
}
/*SECOND PART*/
.col-6, .col-sm-3 {
    position : relative;
    width : 25%;
    display : inline-block;
    box-sizing : border-box;
    min-width : 200px;
}
h2 {
    font-family : "Open Sans";
    font-size : 24px;
    font-weight : bolder;
    display : block;
    color : #3D3D3D;
    margin : 0;
    padding-top : 25px;
}
p {
    color: #3D3D3D;
    font-family: "Open Sans Regular";
    font-size: medium;
    font-size: 21px;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 40px;
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
}
.row-2 {
    position: relative;
    padding : 50px 100px;
}

/*THIRD PART*/
.discover {
    clear: both;
}
div {
    display : block;
}
.btn-discover {
    width : 50%;
    margin: 0 -20px;
}
.discoverleft {
    box-sizing : border-box;
    display : inline-block;
    height : 100%;
    padding-top : 100px;
    padding-bottom : 100px;
    width : 50%;
    text-align: center;
}
.discoverright {
    box-sizing : border-box;
    color : #FFF;
    float : right;
    font-family : "Avenir";
    font-size : 25px;
    height : 100%;
    text-align : left;
    width : 50%;
    padding-top : 200px;
}
.discovertitle {
    color : #000;
    font-family: 'Open Sans', sans-serif;
    font-size : 75px;
    font-weight : bolder;
    color : #3D3D3D;
}
.discovercontent {
    color : #000;
    font-family : "Open Sans Regular";
    font-size : 100%;
    font-weight : 400;
    color : #3D3D3D;
    margin : 0;
    padding-right: 100px;
    line-height : 50px;
    letter-spacing : 0;
}
.discovercontentleft {
    margin-left: -17px;
}
.playstoreimg {
    width : 350px;
    padding : 0;
    margin: 0;
}
.playstoreimg:hover {
    content : url("assets/google-playstore_1.png");
}
.appstoreimg:hover {
    content : url("assets/apple-appstore_1.png");
}
/*FOURTH PART*/
.features {
    background-color : #FC7E10;
}
.featuresleft {
    box-sizing : border-box;
    display : inline-block;
    height : 100%;
    padding : 100px;
    width : 50%;
}
.featurescontentleft {
    padding : 0px;
    margin : 0;
    width : 100%;
}
.featuresright {
    box-sizing : border-box;
    color : #FFF;
    float : right;
    font-family : "Avenir";
    font-size : 25px;
    height : 100%;
    text-align : left;
    width : 50%;
    padding: 130px 0;
}
.featurestitle {
    color : #FFF;
    font-family : "Raleway Bold", sans-serif;
    font-size : 60px;
    font-weight : bolder;
}
.featureslist {
    padding: 25px 0px;
}
.featurescontent {
    color : #FFF;
    font-family : "Open Sans Regular";
}
li {
    list-style : none;
    padding : 10px;
}
.list {
    font-family : "Open Sans Regular";
    margin : 50px;
}
/*FIFTH PART*/
.newsletter {
    background-color : #DDDDDD;
    display : block;
    padding : 100px;
    text-align : center;
    position : relative;
    }
.newsletterhead {
    font-family : "Raleway Bold", sans-serif;
    font-size : 40px;
    font-weight : 600;
    text-align : center;
    color : #212121;
}
.newslettercontent {
    font-family : "Raleway Regular";
    font-size : 26px;
    font-weight : 800;
    text-align : center;
    color : #212121;
}
.newsletter-input {
    background-color: #EEEEEE;
    border: 0;
    font-family: "Open Sans Regular";
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    width: 350px;
}
.newsletter-input::placeholder {
    color : #000;
    text-align : left;
}
.newslettersubmit {
    background-color : #F58422;
    border : 0;
    border-radius : 50px;
    color : #FFF;
    font-family : "Open Sans Bold", sans-serif;
    font-size : 30px;
    font-weight : bold;
    margin : 10px;
    padding : 18px 20px;
    text-align : center;
    width : 380px;
    display: block;
    margin: 30px auto;
}
.newslettersubmit:hover {
    background-color : #000;
}
/*FOOTER*/
.footer {
    background-color : #60615C;
}
.footerleft {
    box-sizing : border-box;
    display : inline-block;
    float : left;
    height : 100%;
    width : 50%;
    padding: 95px 80px 80px;
}
.footerlink {
    color : #FFF;
    font-family : "Open Sans Regular";
    margin-top : 20px;
    font-size: 20px;
}
.footerlink:hover {
    color : #FC7E10;
}
.&bull; {
   color : #FFF;
}
.copyright {
    color : #FFF;
    font-family : "Open Sans Regular";
    font-weight : 100;
    font-size: larger;
    margin-top: 5px;
}
.footerright {
    box-sizing : border-box;
    display : inline-block;
    height : 100%;
    text-align : right;
    width : 50%;
    padding: 63px 80px 80px;
}
.linkstitle {
    color : #FFF;
    font-family : "Open Sans Regular";
    font-size : 160%;
    font-weight : 200;
    margin : 0;
    padding : 0 10px;
    padding-bottom: 20px;
}
.footercontent {
    margin : 0;
}

/*BOOTSTRAP*/

/* iPad Pro */

@media (max-width: 1024px){
    .row-1.head {
        background : url(/secondtask/css/assets/street-background.jpg);
        background-size : 100% 100%;
        padding: 0px 100px 100px 100px;
        height: 975px;
    }
    .headerimg {
        display : block;
        margin : 0px auto -13px;
        padding-top : 20px;
    }
    .row-1.headerimg:hover {
        content : url(css/assets/dibz-logo_1.png);
    }
    .container.headerleft {
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        display: block;
        padding: 20px 0 0 0;
    }
    .img-responsive.headercontentleft {
        width : 100%;
    }
    .container.headerright {
        color: #FFF;
        width: 85%;
        display: block;
        padding: 0;
        text-align: center;
        float: none;
    }
    h1 {
        font-family : "Raleway Regular";
        font-size : 40px;
        font-weight : 100;
        padding : 0;
        margin : 0;
    }
    b {
        font-family : "Raleway Bold", sans-serif;
    }
    .row-1.head {
        position : relative;
        padding: 0px 100px 100px 100px;
    }
    .headercontent {
        font-family: "Raleway Regular";
        font-size: 28px;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 15px;
        color: #FFF;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    a {
        text-decoration : none;
    }
    .btn.btn-primary.btn-block {
        display : inline-block;
        text-align : center; 
        width : 250px;
        margin-right : 25px;
        padding-top : 22px;
        padding-bottom : 22px;
        font-size : 25px;
    }
    .btn.btn-primary.btn-block:hover {
        background-color : #FFF;
        border-color : #FFF;
        color : #F8A01E;
        text-decoration: none;
    }
    .btn.btn-primary.btn-block.downloadbtn {
        background-color : #F8A01E;
        border : 2px solid #F8A01E;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    .btn.btn-primary.btn-block.learnmorebtn {
        background-color : transparent;
        border : 2px solid #FFF;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    /*SECOND PART*/
    .col-6.col-sm-3 {
        position: relative;
        width: 50%;
        display: block;
        box-sizing: border-box;
    }
    h2 {
        font-family : "Open Sans";
        font-size : 24px;
        font-weight : bolder;
        display : block;
        color : #3D3D3D;
        margin : 0;
        padding-top : 25px;
    }
    p {
        color: #3D3D3D;
        font-family: "Open Sans Regular", sans-serif;
        font-size: medium;
        font-size: 21px;
        font-weight: bolder;
        letter-spacing: 1px;
        line-height: 40px;
        display: inline-block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
    }
    .row-2 {
        padding : 50px 100px;
    }
    .hidden-sm-up{
    display: none!important;
    }
    /*THIRD PART*/
    .discover {
        clear: both;
    }
    div {
        display : block;
    }
    .btn-discover {
        width : 50%;
        margin: 0 -20px;
    }
    .discoverleft {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        padding: 50px 0;
        width: 100%;
        text-align: center;
    }
    .discoverright {
        box-sizing: border-box;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        width: 85%;
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        padding: 0;
    }
    .discovertitle {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 75px;
        font-weight: bolder;
        color: #3D3D3D;
        margin: 0;
        padding: 0;
    }
    .discovercontent {
        color: #000;
        font-family: "Open Sans Regular";
        font-size: 100%;
        font-weight: 400;
        color: #3D3D3D;
        margin: 0;
        padding-right: 100px;
        line-height: 50px;
        letter-spacing: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    .discovercontentleft {
        display: inline;
        width: 25%;
        margin: 0 10px;
    }
    .playstoreimg {
        width : 350px;
        padding : 0;
        margin: 0;
    }
    .playstoreimg:hover {
        content : url("assets/google-playstore_1.png");
    }
    .appstoreimg:hover {
        content : url("assets/apple-appstore_1.png");
    }
    /*FOURTH PART*/
    .features {
        background-color : #FC7E10;
    }
    .featuresleft {
        box-sizing : border-box;
        display : inline-block;
        height : 100%;
        padding : 100px;
        width : 50%;
    }
    .featurescontentleft {
        padding : 0px;
        margin : 0;
        width : 100%;
    }
    .featuresright {
        box-sizing : border-box;
        color : #FFF;
        float : right;
        font-family : "Avenir";
        font-size : 25px;
        height : 100%;
        text-align : left;
        width : 50%;
        padding: 50px 0;
    }
    .featurestitle {
        color : #FFF;
        font-family : "Raleway Bold", sans-serif;
        font-size : 40px;
        font-weight : bolder;
    }
    .featureslist {
        padding: 25px 0px;
    }
    .featurescontent {
        color : #FFF;
        font-family : "Open Sans Regular";
    }
    li {
        list-style : none;
        padding : 10px;
    }
    .list {
        font-family : "Open Sans Regular";
        margin : 50px;
    }
    /*FIFTH PART*/
    .newsletter {
        background-color: #DDDDDD;
        display: block;
        padding: 50px 100px;
        text-align: center;
        position: relative;
    }
    .newsletterhead {
        font-family : "Raleway Bold", sans-serif;
        font-size : 40px;
        font-weight : 600;
        text-align : center;
        color : #212121;
    }
    .newslettercontent {
        font-family : "Raleway Regular";
        font-size : 26px;
        font-weight : 800;
        text-align : center;
        color : #212121;
    }
    .newsletter-input {
        background-color: #EEEEEE;
        border: 0;
        font-family: "Open Sans Regular";
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        padding: 15px 20px;
        text-align: center;
        width: 85%;
        display: block;
        float: none;
        margin: 20px auto;
    }
    .newslettersubmit {
        background-color : #F58422;
        border : 0;
        border-radius : 50px;
        color : #FFF;
        font-family : "Open Sans Bold", sans-serif;
        font-size : 30px;
        font-weight : bold;
        margin : 10px;
        padding : 18px 20px;
        text-align : center;
        width : 85%;
        display: block;
        margin: 30px auto;
    }
    .newslettersubmit:hover {
        background-color : #000;
    }
    ::-webkit-input-placeholder {
       text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
    }
    /*FOOTER*/
    .footer {
        background-color: #60615C;
        padding: 50px 0;
    }
    .footerleft {
        box-sizing: border-box;
        display: block;
        float: none;
        height: 100%;
        width: 50%;
        /* padding: 72px 80px 72px; */
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .footerlink {
        color: #FFF;
        font-family: "Open Sans Regular";
        margin-top: 20px;
        font-size: 20px;
    }
    .footerlink:hover {
        color : #FC7E10;
    }
    .&bull; {
       color : #FFF;
    }
    .copyright {
        color : #FFF;
        font-family : "Open Sans Regular";
        font-weight : 100;
        font-size: larger;
        margin-top: 5px;
    }
    .footerright {
        box-sizing: border-box;
        display: block;
        height: 100%;
        text-align: center;
        width: 50%;
        padding: 15px 80px 50px;
        float: none;
        margin: auto;
    }
    .linkstitle {
        color: #FFF;
        font-family: "Open Sans Regular";
        font-size: 160%;
        font-weight: 200;
        margin: 0;
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .footercontent {
        margin : 0;
    }
}

/* iPad */

@media (min-width: 768px) and (max-width: 1024px) {
    .introduction .right-side .title{
       font-size: 32px;
    }
    
    .row-1.head {
        background : url(/secondtask/css/assets/street-background.jpg);
        background-size : 100% 100%;
        padding: 0px 100px 100px 100px;
        height: 975px;
    }
    .headerimg {
        display : block;
        margin : 0px auto -13px;
        padding-top : 20px;
    }
    .row-1.headerimg:hover {
        content : url(css/assets/dibz-logo_1.png);
    }
    .container.headerleft {
        box-sizing: border-box;
        height: 100%;
        width: 50%;
        display: block;
        padding: 20px 0 0 0;
    }
    .img-responsive.headercontentleft {
        width : 100%;
    }
    .container.headerright {
        color: #FFF;
        width: 85%;
        display: block;
        padding: 0;
        text-align: center;
        float: none;
    }
    h1 {
        font-family : "Raleway Regular";
        font-size : 40px;
        font-weight : 100;
        padding : 0;
        margin : 0;
    }
    b {
        font-family : "Raleway Bold", sans-serif;
    }
    .row-1.head {
        position : relative;
        padding: 0px 100px 100px 100px;
    }
    .headercontent {
        font-family: "Raleway Regular";
        font-size: 28px;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 15px;
        color: #FFF;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    a {
        text-decoration : none;
    }
    .btn.btn-primary.btn-block {
        display : inline-block;
        text-align : center; 
        width : 250px;
        margin-right : 25px;
        padding-top : 22px;
        padding-bottom : 22px;
        font-size : 25px;
    }
    .btn.btn-primary.btn-block:hover {
        background-color : #FFF;
        border-color : #FFF;
        color : #F8A01E;
        text-decoration: none;
    }
    .btn.btn-primary.btn-block.downloadbtn {
        background-color : #F8A01E;
        border : 2px solid #F8A01E;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    .btn.btn-primary.btn-block.learnmorebtn {
        background-color : transparent;
        border : 2px solid #FFF;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    /*SECOND PART*/
    .col-6.col-sm-3 {
        position: relative;
        width: 50%;
        display: block;
        box-sizing: border-box;
    }
    h2 {
        font-family : "Open Sans";
        font-size : 24px;
        font-weight : bolder;
        display : block;
        color : #3D3D3D;
        margin : 0;
        padding-top : 25px;
    }
    p {
        color: #3D3D3D;
        font-family: "Open Sans Regular", sans-serif;
        font-size: medium;
        font-size: 21px;
        font-weight: bolder;
        letter-spacing: 1px;
        line-height: 40px;
        display: inline-block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
    }
    .row-2 {
        padding : 50px 100px;
    }
    .hidden-sm-up{
    display: none!important;
    }
    /*THIRD PART*/
    .discover {
        clear: both;
    }
    div {
        display : block;
    }
    .btn-discover {
        width : 50%;
        margin: 0 -20px;
    }
    .discoverleft {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        padding: 50px 0;
        width: 100%;
        text-align: center;
    }
    .discoverright {
        box-sizing: border-box;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        width: 85%;
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        padding: 0;
    }
    .discovertitle {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 75px;
        font-weight: bolder;
        color: #3D3D3D;
        margin: 0;
        padding: 0;
    }
    .discovercontent {
        color: #000;
        font-family: "Open Sans Regular";
        font-size: 100%;
        font-weight: 400;
        color: #3D3D3D;
        margin: 0;
        padding-right: 100px;
        line-height: 50px;
        letter-spacing: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    .discovercontentleft {
        display: inline;
        width: 25%;
        margin: 0 10px;
    }
    .playstoreimg {
        width : 350px;
        padding : 0;
        margin: 0;
    }
    .playstoreimg:hover {
        content : url("assets/google-playstore_1.png");
    }
    .appstoreimg:hover {
        content : url("assets/apple-appstore_1.png");
    }
    /*FOURTH PART*/
    .features {
        background-color : #FC7E10;
    }
    .featuresleft {
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 50px 50px 0;
        width: 85%;
        margin: auto;
    }
    .featurescontentleft {
        padding : 0px;
        margin : 0;
        width : 100%;
    }
    .featuresright {
        box-sizing: border-box;
        color: #FFF;
        float: none;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        text-align: left;
        width: 50%;
        padding: 50px 0;
        display: block;
        margin: auto;
    }
    .featurestitle {
        color: #FFF;
        font-family: "Raleway Bold", sans-serif;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
    }
    .featureslist {
        padding: 25px 0px;
    }
    .featurescontent {
        color : #FFF;
        font-family : "Open Sans Regular";
    }
    li {
        list-style : none;
        padding : 10px;
    }
    .list {
        font-family : "Open Sans Regular";
        margin : 50px;
    }
    /*FIFTH PART*/
    .newsletter {
        background-color: #DDDDDD;
        display: block;
        padding: 50px 100px;
        text-align: center;
        position: relative;
    }
    .newsletterhead {
        font-family : "Raleway Bold", sans-serif;
        font-size : 40px;
        font-weight : 600;
        text-align : center;
        color : #212121;
    }
    .newslettercontent {
        font-family : "Raleway Regular";
        font-size : 26px;
        font-weight : 800;
        text-align : center;
        color : #212121;
    }
    .newsletter-input {
        background-color: #EEEEEE;
        border: 0;
        font-family: "Open Sans Regular";
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        padding: 15px 20px;
        text-align: center;
        width: 85%;
        display: block;
        float: none;
        margin: 20px auto;
    }
    .newslettersubmit {
        background-color : #F58422;
        border : 0;
        border-radius : 50px;
        color : #FFF;
        font-family : "Open Sans Bold", sans-serif;
        font-size : 30px;
        font-weight : bold;
        margin : 10px;
        padding : 18px 20px;
        text-align : center;
        width : 85%;
        display: block;
        margin: 30px auto;
    }
    .newslettersubmit:hover {
        background-color : #000;
    }
    ::-webkit-input-placeholder {
       text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
    }
    /*FOOTER*/
    .footer {
        background-color: #60615C;
        padding: 50px 0;
    }
    .footerleft {
        box-sizing: border-box;
        display: block;
        float: none;
        height: 100%;
        width: 50%;
        /* padding: 72px 80px 72px; */
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .footerlink {
        color: #FFF;
        font-family: "Open Sans Regular";
        margin-top: 20px;
        font-size: 20px;
    }
    .footerlink:hover {
        color : #FC7E10;
    }
    .&bull; {
       color : #FFF;
    }
    .copyright {
        color : #FFF;
        font-family : "Open Sans Regular";
        font-weight : 100;
        font-size: larger;
        margin-top: 5px;
    }
    .footerright {
        box-sizing: border-box;
        display: block;
        height: 100%;
        text-align: center;
        width: 50%;
        padding: 0;
        float: none;
        margin: auto;
    }
    .linkstitle {
        color: #FFF;
        font-family: "Open Sans Regular";
        font-size: 160%;
        font-weight: 200;
        margin: 0;
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .footercontent {
        margin : 0;
    }
}

/* iPhone 6 */

@media (min-width: 375px) and (max-width: 667px) {
    .introduction .right-side .title{
       font-size: 32px;
    }
    .row-1.head {
        background : url(/secondtask/css/assets/street-background.jpg);
        background-size : 100% 100%;
        position: relative;
        padding: 0px 50px 50px;
        width: -webkit-fill-available;
    }
    .headerimg {
        display : block;
        margin : 0px auto -13px;
        padding-top : 20px;
    }
    .row-1.headerimg:hover {
        content : url(css/assets/dibz-logo_1.png);
    }
    .container.headerleft {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: block;
        padding: 20px 0 0 0;
    }
    .img-responsive.headercontentleft {
        width : 100%;
    }
    .container.headerright {
        color: #FFF;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
        float: none;
    }
    h1 {
        font-family : "Raleway Regular";
        font-size : 30px;
        font-weight : 100;
        padding : 0;
        margin : 0;
    }
    b {
        font-family : "Raleway Bold", sans-serif;
    }
    .headercontent {
        font-family: "Raleway Regular";
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        /* margin-top: 8px; */
        color: #FFF;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 0 0 10px;
    }
    a {
        text-decoration : none;
    }
    .btn.btn-primary.btn-block {
        display : inline-block;
        text-align : center; 
        width : 250px;
        padding-top : 22px;
        padding-bottom : 22px;
        font-size : 25px;
        margin: auto;
    }
    .btn.btn-primary.btn-block:hover {
        background-color : #FFF;
        border-color : #FFF;
        color : #F8A01E;
        text-decoration: none;
        margin: auto;
    }
    .btn.btn-primary.btn-block.downloadbtn {
        background-color : #F8A01E;
        border : 2px solid #F8A01E;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    .btn.btn-primary.btn-block.learnmorebtn {
        background-color : transparent;
        border : 2px solid #FFF;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    /*SECOND PART*/
    .col-6.col-sm-3 {
        position: relative;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 20px;
    }
    h2 {
        font-family : "Open Sans";
        font-size : 24px;
        font-weight : bolder;
        display : block;
        color : #3D3D3D;
        margin : 0;
        padding-top : 25px;
    }
    p {
        color: #3D3D3D;
        font-family: "Open Sans Regular";
        font-size: medium;
        font-size: 21px;
        font-weight: bolder;
        letter-spacing: 1px;
        line-height: 40px;
        display: inline-block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
    }
    .row-2 {
        padding : 50px;
    }
    .hidden-sm-up{
    display: none!important;
    }
    /*THIRD PART*/
    .discover {
        clear: both;
    }
    div {
        display : block;
    }
    .btn-discover {
        width : 50%;
        margin: 0 -20px;
    }
    .discoverleft {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        padding: 50px 0;
        width: 100%;
        text-align: center;
    }
    .discoverright {
        box-sizing: border-box;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        width: 85%;
        display: block;
        text-align: center;
        float: none;
        margin: auto;
        padding: 0;
    }
    .discovertitle {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 70px;
        font-weight: bolder;
        color: #3D3D3D;
        margin: 0;
        padding: 0;
    }
    .discovercontent {
        font-family: "Open Sans Regular";
        color: #3D3D3D;
        padding-right: 100px;
        font-size: 20px;
        font-weight: 300;
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 35px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    .discovercontentleft {
        display: inline;
        width: 40%;
        margin: 0;
    }
    .playstoreimg {
        width : 300px;
        padding : 0;
        margin: 0;
    }
    .appstoreimg {
        width : 300px;
        padding : 0;
        margin: 0;
    }
    .playstoreimg:hover {
        content : url("assets/google-playstore_1.png");
    }
    .appstoreimg:hover {
        content : url("assets/apple-appstore_1.png");
    }
    /*FOURTH PART*/
    .features {
        background-color : #FC7E10;
    }
    .featuresleft {
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 50px 50px 0;
        width: 100%;
        margin: auto;
    }
    .featurescontentleft {
        padding : 0px;
        margin : 0;
        width : 100%;
    }
    .featuresright {
        box-sizing: border-box;
        color: #FFF;
        float: none;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        text-align: left;
        width: 85%;
        padding: 20px 0;
        display: block;
        margin: auto;
    }
    .featurestitle {
        color: #FFF;
        font-family: "Raleway Bold", sans-serif;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
        margin: 0;
    }
    .featureslist {
        padding: 25px 0px;
    }
    .featurescontent {
        color : #FFF;
        font-family : "Open Sans Regular";
    }
    li {
        list-style : none;
        padding : 10px;
    }
    .list {
        font-family : "Open Sans Regular";
        margin : 20px;
    }
    /*FIFTH PART*/
    .newsletter {
        background-color: #DDDDDD;
        display: block;
        padding: 50px;
        text-align: center;
        position: relative;
    }
    .newsletterhead {
        font-family : "Raleway Bold", sans-serif;
        font-size : 35px;
        font-weight : 600;
        text-align : center;
        color : #212121;
        margin: 0 0 20px;
    }
    .newslettercontent {
        font-family : "Raleway Regular";
        font-size : 26px;
        font-weight : 800;
        text-align : center;
        color : #212121;
    }
    .newsletter-input {
        background-color: #EEEEEE;
        border: 0;
        font-family: "Open Sans Regular";
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
        padding: 15px 20px;
        text-align: center;
        width: 100%;
        display: block;
        float: none;
        margin: 20px auto;
    }
    .newslettersubmit {
        background-color : #F58422;
        border : 0;
        border-radius : 50px;
        color : #FFF;
        font-family : "Open Sans Bold", sans-serif;
        font-size : 30px;
        font-weight : bold;
        margin : 10px;
        padding : 18px 20px;
        text-align : center;
        width : 100%;
        display: block;
        margin: 30px auto 0;
    }
    .newslettersubmit:hover {
        background-color : #000;
    }
    ::-webkit-input-placeholder {
       text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
    }
    /*FOOTER*/
    .footer {
        background-color: #60615C;
        padding: 50px auto;
    }
    .footerleft {
        box-sizing: border-box;
        display: block;
        float: none;
        height: 100%;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .footerlink {
        color: #FFF;
        font-family: "Open Sans Regular";
        margin-top: 20px;
        font-size: 16px;
    }
    .footerlink:hover {
        color : #FC7E10;
    }
    .&bull; {
       color : #FFF;
    }
    .copyright {
        color : #FFF;
        font-family : "Open Sans Regular";
        font-weight : 100;
        font-size: larger;
        margin-top: 5px;
    }
    .footerright {
        box-sizing: border-box;
        display: block;
        height: 100%;
        text-align: center;
        width: 100%;
        padding: 0;
        float: none;
        margin: auto;
    }
    .linkstitle {
        color: #FFF;
        font-family: "Open Sans Regular";
        font-size: 20px;
        font-weight: 200;
        margin: 0;
        padding: 20px 0;
    }
    .footercontent {
        margin : 0;
    }
}

/* iPhone 5 */

@media (min-width: 320px) and (max-width: 568px) {
    .introduction .right-side .title{
       font-size: 32px;
    }
    .row-1.head {
        background : url(/secondtask/css/assets/street-background.jpg);
        background-size : 100% 100%;
        position: relative;
        padding: 0px 50px 50px;
        width: -webkit-fill-available;
        height: 100%;
    }
    .headerimg {
        display : block;
        margin : 0px auto -13px;
        padding-top : 20px;
    }
    .row-1.headerimg:hover {
        content : url(css/assets/dibz-logo_1.png);
    }
    .container.headerleft {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        display: block;
        padding: 20px 0 0 0;
    }
    .img-responsive.headercontentleft {
        width : 100%;
    }
    .container.headerright {
        color: #FFF;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
        float: none;
    }
    h1 {
        font-family : "Raleway Regular";
        font-size : 30px;
        font-weight : 100;
        padding : 0;
        margin : 0;
    }
    b {
        font-family : "Raleway Bold", sans-serif;
    }
    .headercontent {
        font-family: "Raleway Regular";
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        /* margin-top: 8px; */
        color: #FFF;
        letter-spacing: 1px;
        line-height: 40px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 0 0 10px;
    }
    a {
        text-decoration : none;
    }
    .btn.btn-primary.btn-block {
        display : inline-block;
        text-align : center; 
        width : 200px;
        padding-top : 22px;
        padding-bottom : 22px;
        font-size : 20px;
        margin: 5px auto;
    }
    .btn.btn-primary.btn-block:hover {
        background-color : #FFF;
        border-color : #FFF;
        color : #F8A01E;
        text-decoration: none;
        margin: auto;
    }
    .btn.btn-primary.btn-block.downloadbtn {
        background-color : #F8A01E;
        border : 2px solid #F8A01E;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    .btn.btn-primary.btn-block.learnmorebtn {
        background-color : transparent;
        border : 2px solid #FFF;
        border-radius : 10px;
        color : #FFF;
        font-family : "Raleway Regular";
    }
    /*SECOND PART*/
    .col-6.col-sm-3 {
        position: relative;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0;
    }
    h2 {
        font-family : "Open Sans";
        font-size : 24px;
        font-weight : bolder;
        display : block;
        color : #3D3D3D;
        margin : 0;
        padding-top : 25px;
    }
    p {
        color: #3D3D3D;
        font-family: "Open Sans Regular", sans-serif;
        font-size: medium;
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 1px;
        line-height: 40px;
        display: inline-block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
    }
    .row-2 {
        padding : 50px;
    }
    .hidden-sm-up{
    display: none!important;
    }
    /*THIRD PART*/
    .discover {
        clear: both;
    }
    div {
        display : block;
    }
    .btn-discover {
        width : 200px;
        margin: 0;
    }
    .discoverleft {
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        padding: 0 0 50px;
        width: 100%;
        text-align: center;
    }
    .discoverright {
        box-sizing: border-box;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        float: none;
        margin: 0;
        padding: 0 50px 30px;
    }
    .discovertitle {
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        font-weight: bolder;
        color: #3D3D3D;
        margin: 0;
        padding: 0;
    }
    .discovercontent {
        font-family: "Open Sans Regular";
        color: #3D3D3D;
        padding-right: 100px;
        font-size: 20px;
        font-weight: 300;
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 35px;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        margin: 0;
        padding: 25px 0;
    }
    .discovercontentleft {
        display: inline;
        width: 40%;
        margin: 0;
    }
    .playstoreimg {
        width : 200px;
        padding : 0;
        margin: 0;
    }
    .appstoreimg {
        width : 200px;
        padding : 0;
        margin: 0;
    }
    .playstoreimg:hover {
        content : url("assets/google-playstore_1.png");
    }
    .appstoreimg:hover {
        content : url("assets/apple-appstore_1.png");
    }
    /*FOURTH PART*/
    .features {
        background-color : #FC7E10;
    }
    .featuresleft {
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 50px 50px 0;
        width: 100%;
        margin: auto;
    }
    .featurescontentleft {
        padding : 0px;
        margin : 0;
        width : 100%;
    }
    .featuresright {
        box-sizing: border-box;
        color: #FFF;
        float: none;
        font-family: "Avenir";
        font-size: 25px;
        height: 100%;
        text-align: left;
        width: 100%;
        padding: 20px 50px;
        display: block;
        margin: 0
    }
    .featurestitle {
        color: #FFF;
        font-family: "Raleway Bold", sans-serif;
        font-size: 35px;
        font-weight: bolder;
        text-align: center;
        margin: 0;
    }
    .featureslist {
        padding: 25px 0px;
    }
    .featurescontent {
        color : #FFF;
        font-family : "Open Sans Regular";
    }
    li {
        list-style : none;
        padding: 5px 0;
    }
    .list {
        font-family : "Open Sans Regular";
        font-size: 20px;
        margin: 0;
    }
    /*FIFTH PART*/
    .newsletter {
        background-color: #DDDDDD;
        display: block;
        padding: 50px;
        text-align: center;
        position: relative;
    }
    .newsletterhead {
        font-family : "Raleway Bold", sans-serif;
        font-size : 35px;
        font-weight : 600;
        text-align : center;
        color : #212121;
        margin: 0 0 20px;
    }
    .newslettercontent {
        font-family : "Raleway Regular";
        font-size : 20px;
        font-weight : 800;
        text-align : center;
        color : #212121;
    }
    .newsletter-input {
        background-color: #EEEEEE;
        border: 0;
        font-family: "Open Sans Regular";
        font-size: 15px;
        font-weight: bold;
        margin: 10px;
        padding: 15px 20px;
        text-align: center;
        width: 100%;
        display: block;
        float: none;
        margin: 20px auto;
    }
    .newslettersubmit {
        background-color : #F58422;
        border : 0;
        border-radius : 50px;
        color : #FFF;
        font-family : "Open Sans Bold", sans-serif;
        font-size : 20px;
        font-weight : bold;
        margin : 10px;
        padding : 18px 20px;
        text-align : center;
        width : 100%;
        display: block;
        margin: 30px auto 0;
    }
    .newslettersubmit:hover {
        background-color : #000;
    }
    ::-webkit-input-placeholder {
       text-align: center;
    }
    :-moz-placeholder {
        text-align: center;
    }
    /*FOOTER*/
    .footer {
        background-color: #60615C;
        padding: 50px;
    }
    .footerleft {
        box-sizing: border-box;
        display: block;
        float: none;
        height: 100%;
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .footerlink {
        color: #FFF;
        font-family: "Open Sans Regular";
        margin-top: 0;
        font-size: 13px;
        display: inline-block;
    }
    .footerlink:hover {
        color : #FC7E10;
    }
    .&bull; {
       color : #FFF;
    }
    .copyright {
        color : #FFF;
        font-family : "Open Sans Regular";
        font-weight : 100;
        font-size: 13px;
        margin-top: 5px;
    }
    .footerright {
        box-sizing: border-box;
        display: block;
        height: 100%;
        text-align: center;
        width: 100%;
        padding: 0;
        float: none;
        margin: auto;
    }
    .linkstitle {
        color: #FFF;
        font-family: "Open Sans Regular";
        font-size: 20px;
        font-weight: 200;
        margin: 0;
        padding: 20px 0;
    }
    .footercontent {
        margin : 0;
    }
}
@media (max-width: 767px) {

}
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}