body {
    background: url("bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}
fieldset {
    border: 5px solid #550085;
    border-radius: 10px;
}
legend {
    border: 3px solid #FFF;
    border-radius: 10px;
    height: 70px;
    text-align: center;
    padding: 0;
    width: 400px;   
}
h1 {
    color: #FFF;
    font-family: "Reality Sunday";
    font-size: 50px;
    margin: 0;
    text-align: center;
}
span {
    margin: 0;
    font-family: "Stardust Adventure";
    font-size: 100px;
    text-align: center;
    display: block;
}
img {
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 50px;
    -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
.circle .image-wrap {
	
}
button {
    color: #FFF;
    display: block;
    margin: 20px auto;
    background: transparent;
    height: 50px;
    font-family: "Stardust Adventure";
    font-size: 50px;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 300px;
}
.contcats1 {
    display: block;
    width: 50%;
    float: none;
    margin: auto;
}